body {
background-color:azure;
}

h3{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color:black;
}

h2{
  font-weight: bold;
  color:black;
}
a{
  color: crimson;
}
em{
  color:red;
}
.price{
  text-align: center;
}
.video{
  text-align: center;
  background-color:black;
}

.construction{
  background-color:grey;
  height:400px;
  width:100%;
  color:blue;
  font-weight:bold;
  font-size:50px;
  text-align: center;
}
.happy{
    text-align: center;
    color: #14ecec;
}
 .about{
        text-align: start;
        font-size: 20px;
        font-weight: bold;
    }
#loveAnimation{
width: 50px;
    height: 50px;
    position: absolute;
    color:white;
}
.center{
    text-align: center;
}
.centerTitle{
  text-align: center;
  font-style: italic;
  color: #14ecec;
}
.textHappy{
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  color: crimson;
}
.barStop{
    background-color:aquamarine;
    height: 50px;
    width: 100%;
    font-size: 450px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
.infoPays{
    text-align: center;
    color:dodgerblue;
}
.redCovid{
    text-align: center;
    font-size: 40px;
    color: black;
}

.infoH1Covid{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: crimson;
}

/* Footer */
    footer {  
     background: #d9534f;
      color: white;  
      margin-top:100px;  
    }  
    footer a {  
      color: #fff;  
      font-size: 14px;  
      transition-duration: 0.2s;  
    }  
    footer a:hover {  
      color: #FA944B;  
      text-decoration: none;  
    }  
    .copy {  
      font-size: 12px;  
      padding: 10px;  
      border-top: 1px solid #FFFFFF;  
    }  
    .footer-middle {  
      padding-top: 2em;  
      color: white;  
    }  
    ul.social-network {  
      list-style: none;  
      display: inline;  
      margin-left: 0 !important;  
      padding: 0;  
    }  
    ul.social-network li {  
      display: inline;  
      margin: 0 5px;  
    }  
      
    .social-network a.icoFacebook:hover {  
      background-color: #3B5998;  
    }  
    .social-network a.icoLinkedin:hover {  
      background-color: #007bb7;  
    }  
    .social-network a.icoFacebook:hover i  
    {  
      color: #fff;  
    }  
    .social-network a.icoLinkedin:hover i {  
      color: #fff;  
    }  
    .social-network a.socialIcon:hover {  
      color: #44BCDD;  
    }  
    .socialHoverClass {  
      color: #44BCDD;  
    }  
    .social-circle li a {  
      display: inline-block;  
      position: relative;  
      margin: 0 auto 0 auto;  
      -moz-border-radius: 50%;  
      -webkit-border-radius: 50%;  
      border-radius: 50%;  
      text-align: center;  
      width: 30px;  
      height: 30px;  
      font-size: 15px;  
    }  
    .social-circle li i {  
      margin: 0;  
      line-height: 30px;  
      text-align: center;  
    }  
    .social-circle li a:hover i  
    {  
      -moz-transform: rotate(360deg);  
      -webkit-transform: rotate(360deg);  
      -ms--transform: rotate(360deg);  
      transform: rotate(360deg);  
      -webkit-transition: all 0.2s;  
      -moz-transition: all 0.2s;  
      -o-transition: all 0.2s;  
      -ms-transition: all 0.2s;  
      transition: all 0.2s;  
    }  
    .triggeredHover {  
      -moz-transform: rotate(360deg);  
      -webkit-transform: rotate(360deg);  
      -ms--transform: rotate(360deg);  
      transform: rotate(360deg);  
      -webkit-transition: all 0.2s;  
      -moz-transition: all 0.2s;  
      -o-transition: all 0.2s;  
      -ms-transition: all 0.2s;  
      transition: all 0.2s;  
    }  
    .social-circle i {  
      color: #595959;  
      -webkit-transition: all 0.8s;  
      -moz-transition: all 0.8s;  
      -o-transition: all 0.8s;  
      -ms-transition: all 0.8s;  
      transition: all 0.8s;  
    }  
    .social-network a {  
      background-color: #F9F9F9;  
    }  
    .social-network a:hover {  
    background: #ff304d;  
    }